build/
*.o
*.exe
*.out
*.log
*.err
src/third_party/
*.swp
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
assets/
*.a
src/test_output/
imgui.ini
test
maze
test_output/
